# Environment secrets
.env
*.env.local

# Virtual environments
venv/
.venv/
env/

# Python cache & bytecode
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Operating system files
.DS_Store
Thumbs.db
